md-card.user-characteristics {
  padding: 16px;
}

.user-characteristics .characteristicBlock {
  display: flex;
  align-items: center;
}

.user-characteristics .characteristicBlock .characteristicIcon img {
  width: 16px;
}

.user-characteristics .user-characteristic-progress-bar {
  margin-left: 4px;
  margin-right: 4px;
}

.user-characteristics .user-characteristic-progress-bar > .mat-progress-bar-fill::after {
  background-color: #EAE6E5;
}

.user-characteristics .user-characteristic-number {
  cursor: default;
}

@media (max-width: 993px) {

  .user-characteristics .characteristicBlock {
    padding: 4px 0;
  }

  .user-characteristics .characteristicBlock .characteristicIcon img {
    width: 24px;
  }
}

