<md-card class="user-equipment">
  <app-inventory-item [image]="'assets/images/helmet.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/shoulders.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/gloves.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/armour.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/pants.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/boots.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/amulet.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/ring.png'"></app-inventory-item>
  <app-inventory-item [image]="'assets/images/ring.png'"></app-inventory-item>
</md-card>
