.auth-content {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 0;
}

.app-progress {
  margin: 20px;
}

.auth-content .app-input-section {
  width: 270px;
  background-color: white;
}

.auth-content md-input-container {
  width: 100%;
}

.auth-content .app-input-section md-input,
.auth-content .app-input-section button {
  width: 100%;
  margin-top: 20px;
}

.auth-content .registration-name {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  transition: all 500ms;
}

.auth-content .registration-name-errors {
  min-height: 0 !important;
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}

.auth-content .animate-registration-name {
  height: 50px;
  margin-top: 20px !important;
}

.auth-content .registration-name-errors.animate-registration-name-errors {
  height: 16px;
  min-height: 16px !important;;
}

.auth-content .change-window-type {
  color: grey;
  float: right;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 16px;
}

.auth-content .auth-error-block {
  min-height: 16px;
}

.auth-content .password-block {
  position: relative;
}

.auth-content .view-password, .auth-content .capslock-enabled {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.auth-content .view-password md-icon, .auth-content .capslock-enabled md-icon {
  font-size: 100%;
}

.auth-content .view-password {
  top: 0;
}

.auth-content .capslock-enabled {
  bottom: 22px;
  font-size: 75%;
  color: #939498;
  opacity: 0;
}

.auth-content .capslock-enabled.show-caps-hint {
  opacity: 1;
}
